@page "/matches"
@using GoalKeeper.DataCollector.App.Data
@inject MatchService MatchService

<h1>Match Center</h1>

<button class="btn btn-primary" @onclick="GetMatchComparisons">Get Matchday</button>

@*<input @bind="matchDayInput" type="number" min="1" max="36" />*@
<input value="@matchDayInput" @onchange="@((ChangeEventArgs __e) => OnChangeMatchdayInput(__e?.Value?.ToString()))" type="number" min="1" max="36" />

@if (matchComparisons != null)
{
    <button class="btn btn-primary" @onclick="FormatMatchdayToSQL">Format to SQL</button>
}

@if (matchComparisons != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>From Database</th>
                <th>From Collector</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comparison in matchComparisons)
            {
                <tr>
                    <td>@comparison.DatabaseVersion?.HomeTeamName <span>-</span> @comparison.DatabaseVersion?.AwayTeamName</td>
                    <td>@comparison.CollectedVersion?.HomeTeamName <span>-</span> @comparison.CollectedVersion?.AwayTeamName</td>
                    <td><button class="btn btn-secondary" @onclick="() => ShowComparison(comparison.MatchId)">Compare</button></td>
                    <td> @if (@comparison.DatabaseVersion != null && !@comparison.DatabaseVersion.Equals(@comparison.CollectedVersion))
                        {
                            <span class="oi oi-warning" aria-hidden="true"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (selectedMatch != null && showComparison)
{
    <h2 class="display-6 text-center mb-4">Compare match (Id: @selectedMatch.MatchId)</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 33%;">Database</th>
            <th style="width: 33%;">Web</th>
          </tr>
        </thead>
        <tbody>
          <tr class="@(@selectedMatch.DatabaseVersion?.HomeTeamName != @selectedMatch.CollectedVersion?.HomeTeamName ? "bg-danger" : "")">
            <th scope="row" class="text-start">Home team</th>
            <td>@selectedMatch.DatabaseVersion?.HomeTeamName</td>
            <td>@selectedMatch.CollectedVersion?.HomeTeamName</td>
          </tr>
          <tr class="@(@selectedMatch.DatabaseVersion?.AwayTeamName != @selectedMatch.CollectedVersion?.AwayTeamName ? "bg-danger" : "")">
            <th scope="row" class="text-start">Away team</th>
            <td>@selectedMatch.DatabaseVersion?.AwayTeamName</td>
            <td>@selectedMatch.CollectedVersion?.AwayTeamName</td>
          </tr>
        </tbody>

        <tbody>
          <tr class="@((@selectedMatch.DatabaseVersion?.HomeTeamScore != @selectedMatch.CollectedVersion?.HomeTeamScore) || (@selectedMatch.DatabaseVersion?.AwayTeamScore != @selectedMatch.CollectedVersion?.AwayTeamScore)  ? "bg-danger" : "")">
            <th scope="row" class="text-start">Score</th>
            <td>@selectedMatch.DatabaseVersion?.HomeTeamScore <span>-</span> @selectedMatch.DatabaseVersion?.AwayTeamScore</td>
            <td>@selectedMatch.CollectedVersion?.HomeTeamScore <span>-</span> @selectedMatch.CollectedVersion?.AwayTeamScore</td>
          </tr>
          <tr class="@(@selectedMatch.DatabaseVersion?.Date != @selectedMatch.CollectedVersion?.Date ? "bg-danger" : "")">
            <th scope="row" class="text-start">Date</th>
            <td>@selectedMatch.DatabaseVersion?.Date.ToString("F")</td>
            <td>@selectedMatch.CollectedVersion?.Date.ToString("F")</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="btn btn-primary" @onclick="() => Update(325)">Update</button>
}

@code {
    private MatchComparison[]? matchComparisons;
    private MatchComparison? selectedMatch;
    private int matchDayInput = 1;
    private bool showComparison = false;

    private async void GetMatchComparisons()
    {
        matchComparisons = await MatchService.GetMatches(matchDayInput);
    }

    private void FormatMatchdayToSQL()
    {
        Console.WriteLine("Some content logged in Blazor App output window");
        showComparison = false;
    }

    private void ShowComparison(int matchId)
    {
        if (matchComparisons != null)
            selectedMatch = matchComparisons.Where(m => m.MatchId == matchId).FirstOrDefault();
        showComparison = true;
    }

    private void Update(int matchId)
    {
        showComparison = false;
    }

    private void OnChangeMatchdayInput(string? matchday)
    {
        if (matchday != null)
            this.matchDayInput = int.Parse(matchday);
        matchComparisons = null;
        showComparison = false;
    }
}
